

body {
    background-color: #F8F2BF;
}

h2 {
    text-align: left;
    font-size: 1.5rem;
    align-self: center;

}

nav {
    background-color: #E8E5C3;
    grid-template-columns: 1fr auto;
    display: grid;
    align-items: top end;
    text-align: right;
    padding-right: 1rem;
    color: #3C66DB;
}

.row {
    justify-items: end;
}


p {
    font-size: 1.5rem;
}

label.bun {
    display: block;
    width: 44px;
    height: 52px;
    position: relative;
    cursor: pointer;
}

input#bun {
    display: none;
}

.line {
    position: absolute;
    height: 6px;
    width: 100%;
    background: #6d6d6d;
    transition: 0.5s;
    left: 0;
}

.bun span:nth-child(1) {
    top: 12px;
}

.bun span:nth-child(2) {
    top: 24px;
}

.bun span:nth-child(3) {
    top: 36px;
}

#bun:checked+.bun .line:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
}

#bun:checked+.bun .line:nth-child(2) {
    opacity: 0;
}

#bun:checked+.bun .line:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}

.patty {
    position: absolute;
    left: 0;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    background: #bbb99d;
    padding: 10px;
    right: 0;
    top: 2.1rem;
    animation: frying 2s ease-in-out;
    gap: 2vw;
    z-index: 1;
}
.patty, a{
    color: #3C66DB;
    font-size: 1rem;
    text-decoration: none;
}

@keyframes frying {
    100% {
        transform: translateX(0%);
    }

    0% {
        transform: translateX(100%);
    }
}

#bun:checked~.patty {
    display: grid;
}


/* placeholder for when i get to doing the java */
img {
    width: 70vw;

}
.wine-grid{
    display: grid;
    grid-template-columns:1fr auto;
    justify-self: center;
    gap: 1rem;
    padding-top: 4vw;
}

#pinot{
    width: 14vw;
    border-radius: 75%;
}
#algate{
    width: 16vw;
    border-radius: 50%;
}
.wines:hover, .label:hover{
    transform: scale(1.5);
    transition: 1s;
    z-index: 1;
}



.decal {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 2vw;
}

.decal-top,
.decal-bottom {
    width: 70vw;

}
.decal-top{
    position: absolute;
        left: 21vw;
        top: 0vw;
        width: 58vw
}

.decal:hover {
    animation: edge 4s ease-in-out;
}

@keyframes edge {
    0% {
        stroke-dashoffset: 539;
        stroke-dasharray: 535;
    }

    100% {
        stroke-dashoffset: 1000;
        stroke-dasharray: 10000;
    }
}

.decal-bottom {
    rotate: 180deg;
    position: absolute;
        left: 26vw;
        top: 66vw;
        width: 50vw;
}
@media screen and (min-width: 768px) {
    .decal-bottom{
        rotate: 180deg;
        position: absolute;
        left: 26vw;
        top: 60vw;
        width: 50vw;
    }
}

#section-pinot, #section-algate {
    text-align: center;
}

.text-container {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding: 5vw;
    padding-top: 17vw;
}

.body-text {
    padding: 0.5rem;
    transform: scale(0.9)
}


.body-text:first-letter {
    font-size: 4.5rem;
    font-weight: bold;
    float: left;
    line-height: 3rem;
}

.side-decals {
    position: relative;

}

.right {
    position: absolute;
    left: -27vw;
    bottom: -51vw;
    transform: scale(0.2) rotate(274deg);

}

.left {
    position: absolute;
    left: 56vw;
    bottom: -26vw;
    transform: scale(0.2) rotate(-274deg);

}

.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.label {
    width: 35vw;
    padding: 0.5rem;
}


footer {
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(auto, auto));
    background-color: #E8E5C3;

}

.insta,
.face {
    width: 8vw;
    justify-self: end;
    opacity: 20%;
}

.insta:hover,
.face:hover {
    opacity: 100%;
    transition: 1s;
}

.face {
    width: 10vw
}

h3 {
    font-size: 4vw;
}
@media screen and (max-width: 537px ) {
    .decal-top{
        position: absolute;
            left: 27vw;
            top: 10vw;
            width: 47vw;
    }
}
 @media screen and (min-width: 779px) {
     .patty {
            padding: 10px;
            display: grid;
            background-color: #E8E5C3;
            top: 1.2vw;
            gap: 0vw;
            grid-template-columns: -1.8rem 0.2rem;
            justify-self: end;
            animation: midea;    
            z-index: 0;  
     }
     .patty, a{
            font-size: 1.2rem;
            text-decoration: none;
     }
     h2{
       font-size: 2.5rem;
     }
         @keyframes midea {
             100% {
                 transform: translateX(0%);
             }
    
             0% {
                 transform: translateX(30%);
             }   }
     .line{
        display: none;
     }
     .decal-top {
         position: absolute;
         left: 27vw;
         top: 6vw;
         width: 47vw
         }
    }
     @media screen and (min-width: 890px) {
        .decal-top {
                position: absolute;
                    left: 27vw;
                    top: 2vw;
                    width: 47vw;      
            }
}