body {
    background-color: #CDA678;
}

.container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 45px;
    position: relative;
    overflow-x: hidden;
   padding-bottom: 3rem ;
}
.container img{
    position: relative;
    width: 6rem
}

.coffee_cup{
    text-align: right;
}


.papers{
    background-color: #F6EEE3;
    width: auto;
    max-width: 350px;
    padding: 25px;
    margin: auto;
    overflow-x: hidden;
}

.papers img {
    width: 100%;
}

.p1{
    rotate: 15deg;
    box-shadow: -10px 10px #605A5A;
    transition: 2s; 
}

.p2 {
    rotate: -15deg;
    box-shadow: -10px 10px #605A5A;
    transition: 2s;
    text-align: center;
}


.grid   {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(236px,1fr));
    gap: 150px; 
    overflow-x: hidden;
    padding: 3rem 2rem 3rem 3rem;
}
.p1:hover,.p2:hover{
    rotate: 0deg;
    box-shadow: -10px 10px #605A5A;
    transition: 2s;
}
.low_res{
    max-width: 7rem;
    max-height: 7rem;
    object-fit: contain;
}
h3{
    font-family: "Crimson Text", serif ;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    background-color: #6F4E37;
    padding: 0.5rem;
    text-align: center;
}
img.links{
    border-radius: 50% ;
    max-width: 90px;
    align-items: left;
}
.link{
    text-align: right;
}
h2{
   
    color: white;
}
a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;

}
a:hover, .back:hover{
    color: orangered;
}
footer{
    color: #6F4E37;
}
.coffee_cup{
    position: relative;
}
.title{
  max-width: fit-content;
    rotate: -20deg;
}

h1 {
    font-size: 1.5rem;
    background-color: #CCC533;
    padding: 1rem;
    color: white;
    max-width: 300px;
    box-shadow: -10px 10px #605A5A;
    
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    align-items: center;
    justify-items: center;
    min-width: 150px;
    padding: 3rem 2rem 3rem 3rem;
}
#nav2{
    max-width: 100px;
    max-height: 100px;
}
.nav{
    max-width: 150px;
    max-height: 150px;
}

.link_effect{
    max-height: 100%;
}