
.container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 35px;
    max-width: 5000rem;
    position:relative;
    margin: 0 auto;
}
.container img{
    position: absolute;
    top:0;
    right:0;
    width: 6rem
}
h1{
    background-color: #CCC533;
    color:white;
    font-size: 1rem;
    text-align: center;
    position: relative;
    /* rotate: -10deg */
}

.papers{
    background-color: #F6EEE3;
    width: auto;
    max-width: 400px;
    padding: 25px;
    margin: auto;
}

.papers img {
    width: 100%;
}

.p1{
    rotate: 15deg;
}

.p2 {
    rotate: -15deg;
}

body{
    background-color: #CDA678;
}

.grid   {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 100px;
    margin-top: 4rem;
}