* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  html{
    Scroll-behavior: smooth;
    width:100%;
    overflow-x:hidden;
  
  }
  h1{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size:30px;
   line-height: 33px;
   color: #522258;
   text-shadow: 3px 3px 5px #8C3061;
  }
  
  
          
  nav ul li{ 
    display:inline-block;
    margin-top: 30px;
  }
  a{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#D95F59;
    text-shadow: 3px 3px 5px darkred;
  }
  
  a:hover{
    color:blue
  }
  
  
  header{
    background-color: #522258;
    width:100%;
    padding: 20px;
    word-spacing: 2px;
  }
  body{ 
    background-color: #C63C51;
    text-align: center;
  }
   footer{
    background-color:#8C3061 ;
    padding:20px;
  }
  
  img{
    width: 400px;
    padding:30px;
  }
  