* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  html{
    Scroll-behavior: smooth;
    width:100%;
    overflow-x:hidden;
  
  }
  h1{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 30px; 
      line-height: 33px;
      color: darkred;
      text-shadow: 3px 3px 5px orangered;
  }
  
  nav ul li{ 
    display:inline-block;
    margin-top: 30px;
  }
  header{
      background-color: #f8BC24;
      padding: 20px;
  }
  article{
      background-color: #f58800;
  }
  footer{
      background-color: #f8BC24;
      padding: 20px;
      height: 1000px;
  }
  a{
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color:#266867;
      text-shadow: 3px 3px 5px #1A4645;
  }
  a:hover{
      color:red;
      text-shadow: 3px 3px 5px darkred;
  }
  body{
      text-align:center;
      background-color: #f58800;
  }
  
  img{
      padding:20px;
  
  }
  