* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  Scroll-behavior: smooth;
width:100%;
overflow-x:hidden;
}

ul{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ff00ff;
  display:inline-block;
  font-size: 25px
}
h1 {
  Color: #fceee3;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  text-shadow: 3px 3px 5px #8f0304;
}
a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 5px;
  word-spacing: 2px;
  color:#8f0304; 
  text-shadow: 3px 3px 5px #c1d5db;
}

a:hover{
color: rgb(0, 23, 139);
}
header{
width: 100%;
padding: 20px;
background-color: #658da7;

}
nav ul li{ 
display:inline-block;
margin-top: 30px;
}

body{
background-color:#c1d5db;
font-size:20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
line-height: 44px;
text-align: center
}
footer{
background-color: #658da7;
padding:20px;
}
pre{
color:#8f0304;
line-height: 15px;
}